<%- include('../partials/head') %> 
    <h2>Recomendadas</h2>
    <ul>
		<% movies.forEach(movie => { %>
		<li>
			<b>Título: </b> <a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a> 
			<br>
			<b>Rating: </b> <%= movie.rating %> <br>
			<hr>
		</li>
		<% }) %>
	</ul>
<%- include('../partials/footer')  %> 