<%- include('../partials/head') %> 
    <h2>Actor <%= actor.getFullName() %> </h2>
    <h3>Listado de películas</h3>
    <ul>
        <% actor.movies.forEach (movie => { %>
        <li>
            <a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a> 
        </li>
        <% }) %>
	</ul>
<%- include('../partials/footer')  %> 